In [22]:
import os
import pandas as pd
os.chdir('/home/tb24/projects/Datalake-project')

In [18]:
df = pd.read_parquet("data/yellow_tripdata_2023-03.parquet")

In [19]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2023-03-01 00:06:43,2023-03-01 00:16:43,1.0,0.00,1.0,N,238,42,2,8.6,1.0,0.5,0.00,0.0,1.0,11.10,0.0,0.00
1,2,2023-03-01 00:08:25,2023-03-01 00:39:30,2.0,12.40,1.0,N,138,231,1,52.7,6.0,0.5,12.54,0.0,1.0,76.49,2.5,1.25
2,1,2023-03-01 00:15:04,2023-03-01 00:29:26,0.0,3.30,1.0,N,140,186,1,18.4,3.5,0.5,4.65,0.0,1.0,28.05,2.5,0.00
3,1,2023-03-01 00:49:37,2023-03-01 01:01:05,1.0,2.90,1.0,N,140,43,1,15.6,3.5,0.5,4.10,0.0,1.0,24.70,2.5,0.00
4,2,2023-03-01 00:08:04,2023-03-01 00:11:06,1.0,1.23,1.0,N,79,137,1,7.2,1.0,0.5,2.44,0.0,1.0,14.64,2.5,0.00
5,1,2023-03-01 00:09:09,2023-03-01 00:17:34,1.0,1.20,1.0,N,162,137,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.00
6,1,2023-03-01 00:32:21,2023-03-01 00:42:08,1.0,1.80,1.0,N,170,48,1,12.1,3.5,0.5,3.40,0.0,1.0,20.50,2.5,0.00
7,1,2023-03-01 00:45:12,2023-03-01 00:52:37,1.0,2.00,1.0,N,48,164,2,10.7,3.5,0.5,0.00,0.0,1.0,15.70,2.5,0.00
8,1,2023-03-01 00:19:43,2023-03-01 00:39:37,1.0,5.30,1.0,N,113,61,1,26.1,3.5,0.5,9.30,0.0,1.0,40.40,2.5,0.00
9,2,2023-03-01 00:08:42,2023-03-01 00:18:45,1.0,2.27,1.0,N,239,263,1,13.5,1.0,0.5,3.70,0.0,1.0,22.20,2.5,0.00

In [20]:
df.count()

VendorID                 3403766
tpep_pickup_datetime     3403766
tpep_dropoff_datetime    3403766
passenger_count          3316147
trip_distance            3403766
RatecodeID               3316147
store_and_fwd_flag       3316147
PULocationID             3403766
DOLocationID             3403766
payment_type             3403766
fare_amount              3403766
extra                    3403766
mta_tax                  3403766
tip_amount               3403766
tolls_amount             3403766
improvement_surcharge    3403766
total_amount             3403766
congestion_surcharge     3316147
Airport_fee              3316147
dtype: int64